
/* Media Queries */

@media (max-width: 1200px) and (min-width: 769px) {
    .clock {
      height: 20vh;
      max-height: 600px;
      width: 80vw;
      max-width: 1200px;
      border-radius: 30px;
      font-weight: 400;
      font-size: 5vw;
      margin: 15vh auto;
    }
  
    .clock div {
      border-radius: 20px;
      height: 30vh;
      margin: 1%;
      width: 10vw;
    }
  
    #today {
      height: 8vh;
      width: 65vw;
      margin: 0 auto 12vh auto;
    }
  
    button {
      border-radius: 15px;
      margin: 0 5px;
      padding: 10px 30px;
      font-size: 2vw;
    }
  }
  
  @media (max-width: 768px) and (min-width: 481px) {
    .container{
      margin: 20vh auto 0 auto;
    }
    .clock {
      height: 15vh;
      border-radius: 13px;
      font-size: 3vw;
      max-width: 768px;
      width: 88vw;
      margin:10vh auto;
    }
  
    .clock div {
      border-radius: 10px;
      height: 19vh;
      width: 11vw;
    }
  
    #today {
      font-size: 2.8vw;
      height: 7vh;
      width: 58vw;
      border-radius: 8px;
      margin: 0 auto 8vh auto;
    }
  
    button {
      border-radius: 8px;
      margin: 0 6px;
      padding: 8px 22px;
      font-size: 2.5vw;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .clock {
      flex-direction: column;
      height: 70vh;
      width: 20vw;
      max-width: 480px;
      border-radius: 15px;
      font-weight: 400;
      font-size: 5vw;
      margin: 15vh 0;
      margin: 5vh auto 3vh auto;
    }
  
    .clock div {
      border-radius: 15px;
      height: 9vh;
      width: 30vw;
    }
  
    #today {
      height: 4vh;
      width: 60vw;
      border-radius: 5px;
    }
  
    button {
      border-radius: 15px;
      margin: 0 3px;
      padding: 8px 20px;
      font-size: 2.5vw;
    }
  }