body {
  font-family: 'Orbitron', sans-serif;
}

.container {
  margin: 30px auto;
  height: 100%;
  width: 90%;
  max-width: 1400px;
}

.clock {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 20vh;
  max-height: 600px;
  width: 100%;
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  font-weight: 400;
  font-size: 7vw;
  margin: 15vh 0;
}

.clock div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  height: 30vh;
  width: 13vw;
}

#today {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  height: 8vh;
  width: 80vw;
  max-width: 1200px;
  font-size: 3vw;
  margin: 0 auto 10vh auto;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  width: 80%;
  max-width: 600px;
}

button {
  margin: 0 10px;
  padding: 20px 50px;
  background: #e0e0e0;
  border-radius: 20px;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  font-size: 3vw;
}

button:hover {
  background: #bebcbc;
  cursor: pointer;
  transition: all 1s;
}
