/* body {
  font-family: 'Orbitron', sans-serif;

}

.container {
  margin: 30px 0 0 0;
  position: relative;
  height: 100%;
  width: 100%;
}


.clock {
  display: flex;
  position: absolute;
  top: 54px;
  left: 110px;
  justify-content: space-evenly;
  height: 224px;
  width: 1315px;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  font-weight: 400;
  font-size: 96px;
}

.clock div {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-30px);
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  height: 288px;
  width: 200px;
  margin: 0 20px 0 20px;
}

#today {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  height: 45px;
  width: 830px;
  font-size: 30px;
  position: absolute;
  top: 380px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.buttons {
  position: absolute;
  bottom: 250px;
  left: 40%;
}

button {
  margin: 0 10px;
  padding: 20px 50px;
  background: #e0e0e0;
  border-radius: 20px;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
}

button:hover {
  background: #bebcbc;
  transition: all 1s;
}




@media only screen and (max-width: 768px) {
  .clock {
    top: 30px;
    left: 50px;
    justify-content: center;
    height: 200px;
    width: 90%;
    font-size: 64px;
  }

  .clock div {
    height: 220px;
    width: 30%;
    margin: 0 5px;
  }

  #today {
    height: 30px;
    width: 90%;
    font-size: 20px;
    top: 320px;
  }

  .buttons {
    bottom: 50px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .clock {
    top: 30px;
    left: 50px;
    justify-content: center;
    height: 200px;
    width: 90%;
    font-size: 64px;
  }

  .clock div {
    height: 220px;
    width: 22%;
    margin: 0 5px;
  }

  #today {
    height: 30px;
    width: 90%;
    font-size: 20px;
    top: 320px;
  }

  .buttons {
    bottom: 50px;
  }
}

@media only screen and (min-width: 1025px) {
  .clock {
    top: 54px;
    left: 110px;
    justify-content: space-evenly;
    height: 224px;
    width: 1315px;
    font-size: 96px;
  }

  .clock div {
    height: 288px;
    width: 200px;
    margin: 0 20px;
  }

  #today {
    height: 45px;
    width: 830px;
    font-size: 30px;
    top: 380px;
  }

  .buttons {
    bottom: 250px;
    left: 40%;
  }
}
  */





body {
  font-family: 'Orbitron', sans-serif;
}

.container {
  margin: 30px auto;
  height: 100%;
  width: 90%;
  max-width: 1400px;
}

.clock {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 20vh;
  max-height: 600px;
  width: 100%;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  font-weight: 400;
  font-size: 7vw;
  margin: 15vh 0;
}

.clock div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  height: 30vh;
  margin: 1%;
  width: 13vw;
}

#today {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  height: 8vh;
  width: 80vw;
  max-width: 1200px;
  font-size: 3vw;
  margin: auto auto;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  width: 80%;
  max-width: 600px;
}

button {
  margin: 0 10px;
  padding: 20px 50px;
  background: #e0e0e0;
  border-radius: 20px;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  font-size: 3vw;
}

button:hover {
  background: #bebcbc;
  cursor: pointer;
  transition: all 1s;
}
